html, body{
	font-family: Arial, san-serif;
	margin:0;
	text-align: center;
	font-size: 20px;
	color: #00004c
}


header{
	background-color: #00004c;
	background-image: url('../img/pixel-image-100.jpg');
	background-repeat: repeat;
	padding:40px;
	text-align: center;
}

h1{
	font-size: 80px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin:0;
	text-transform: uppercase;
}

header img{
	border-radius: 174px;
	width:300px;
	border:24px solid #CC3E3E;
	box-shadow: 0 10px 20px black;
}
h2{
	font-size: 40px;
	color: #CC3E3E;
}
.content{
	max-width: 900px;
	margin:0 auto;
	padding:0 20px;
}

img.big-image{
	max-width: 100%;
}
p.caption{
	font-size: 16px;
	color:lightgrey;
	font-style: italic;
}

ol,ul{
	list-style: none;
	padding: 0;
	margin:0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #E6E6E6;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin:0 5px;
}